.rogin{
	text-align:center;
}

.form-inline{
	text-align:center;
}

.btn-outline-dark{
	text-align:center;
}

.form-login {
	width: 400px;
	margin: 90px auto;
}

.login-btn{
	margin-top: 30px;
	margin-left: 150px;
}